.movie-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #121212;
  width: 100vw;
}
.movie-info h1 {
  color: #e94560;
}
.genres,
.release-date,
.cast-head {
  color: #e94560;
}
.movie-details,
.cast-details {
  background-color: #1a1a2e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  width: 100vw;
  max-width: 800px;
  display: flex;
  gap: 20px;
  color: white;
}

.movie-details img,
.cast-card img {
  width: 300px;
  border-radius: 10px;
}

.cast-details {
  width: 100%;
}

.cast-list {
  display: flex;
  width: 100vw;
  overflow-x: auto;
  padding: 10px;
  gap: 10px;
}

.cast-card {
  border-bottom: 3px solid #e94560;
  border-radius: 10px;
  color: white;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: #1a1a2e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  flex: 0 0 auto;
}

.cast-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.cast-card p {
  margin: 5px 0;
}
